{% extends 'base.html.twig' %}

{% block title %}Hello SuiteController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ asset('uploads/suite/images/' ~ suite.image) }}" class="img-fluid rounded-start" alt="Image suite">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ suite.titre }}</h5>
                    <p class="card-text">{{ suite.description }}</p>
                    <p class="card-text"><small class="text-muted">{{ suite.prix }}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
